<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EPS Login & Registration</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="jumbotron container text-center">
      <h1 class="display-4">EPS</h1>
      <h2>Employee Points System</h2>
      <h4>For demo enter email: <span class='text-primary'>admin@user.com</span> password: <span class="text-primary">password</span></h4>
    </div>
    <div class="row">
      <div class="col">
        <h2>Login</h2>
        <form action="login" method="post">
          {% csrf_token %}
          <label>Email Address:</label>
          <input class="form-control" type="text" name="email">
          <label>Password:</label>
          <input class="form-control" type="password" name="password">
          <button class="btn btn-outline-primary font-weight-bold" type="submit">Login</button>
        </form>
        {% if messages %}
          {% for message in messages %}
            <p class="text-danger font-weight-bold m-0">{{ message }}</p>
          {% endfor %}
        {% endif %}
      </div>
      <div class="col">
        <h2>Registration</h2>
        <form action="register" method="post">
          {% csrf_token %}
          <label>First Name:</label>
          <input class="form-control" type="text" name="first_name">
          <label>Last Name:</label>
          <input class="form-control" type="text" name="last_name">
          <label>Email Address:</label>
          <input class="form-control" type="text" name="email">
          <label>Password:</label>
          <input class="form-control" type="password" name="password">
          <label>Confirm Password:</label>
          <input class="form-control" type="password" name="pw_confirm">
          <button class="btn btn-outline-primary font-weight-bold" type="submit">Register</button>
        </form>
      </div>
    </div>

  </div>
</body>

</html>
