.alert {
  margin-top: 20px;
}

button {
  display: block!important;
  margin-bottom: 20px !important;
}

.container {
  padding: 20px;
}

input {
  margin-bottom: 10px !important;
  width: 300px !important;
}

.jumbotron {
  padding: 10px !important;
}

label {
  display: block;
}

span {
  color: blue;
}
