.alert {
  margin-top: 20px;
}

button {
  display: block!important;
}

.container {
  padding: 20px; 
}

input {
  border-radius: 5px;
  margin-bottom: 10px;
}

.jumbotron {
  padding: 35px 0;
}

label {
  display: block;
}
