a {
  display: block;
}

.alert {
  display: inline-block;
  margin: 20px 0 0 40px;
  vertical-align: top;
}

.bold {
  font-size: 1.2em;
  font-weight: bold;
}

.clock {
  display: block;
  padding: 20px;
  text-align: center;
}

#formModal button, textarea{
  display: block;
  margin-top: 20px;
}

.main {
  margin-left: 15px;
}

#myModal{
  height: 750px;
}

.points {
  border-top: 1pt solid darkgrey;
  display: block;
  padding: 20px;
  text-align: center;
}

select {
  margin-left: 50px;
}

.table-responsive {
  height: 200px;
  margin: 40px 0 0 35px;
  overflow-y: scroll;
}

.table-responsive th {
  position: sticky;
  top: 0;
}

.user {
  background-color: lightgrey;
  height: 150px;
  text-align: center;
}

.window_head{
  margin: 40px 0 20px 50px;
}
