a {
  display: block;
}

.alert {
  display: inline-block;
  margin: 20px 0 0 20px;
  vertical-align: top;
}

.bold {
  font-size: 1.2em;
  font-weight: bold;
}

button {
  margin-left: 445px;
}

.clock {
  display: block;
  padding: 20px;
  text-align: center;
}

form {
  margin-left: 50px;
}

#formModal button, textarea {
  display: block;
  margin-top: 20px;
}

label {
  display: block;
  font-weight: bold;
}

.main {
  margin-left: 15px;
}

.points {
  border-top: 1pt solid darkgrey;
  display: block;
  padding: 20px;
  text-align: center;
}

textarea {
  border-radius: 5px;
  padding: 5px;
}

.user {
  background-color: lightgrey;
  height: 150px;
  text-align: center;
}

.window_head{
  display: inline-block;
  margin: 40px 0 40px 50px;
}
